.jumbotron {
margin-top: 4em;
  text-align: center;
  background-image: url("https://media.giphy.com/media/xT0xek6ofmgqSDdPCU/giphy.gif");
  background-size: cover;
  color: white;
  text-shadow: 5px 5px red;

}

label {
  margin-top: 20px;
  color: white;
  font-size: 2em;
}

.result {
  font-size: 10em;
  font-weight: bold;
  color: green;
  text-shadow: 10px 10px white;
}

.well{
    opacity: 0.5;
    background-color: black;
}

body {
  background-color: black;
  background-image: url("https://media.giphy.com/media/3oEjHLxpSbN0ytehcQ/giphy.gif");
  background-size: cover;
}
